html {
    scroll-behavior: smooth;
}

body {
    background-color: #F9F6EE;
    font-family: "PT Serif", sans-serif;
}

#home {
    padding: 0.25rem;
}

.navbarLinks {
    text-decoration: none;
    font-family: Baskerville;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: normal;

}

nav div a {
    text-decoration: none;
    color: #355E3B;
    padding: 0.25rem;
    font-size: 1.25rem;
}

nav div a:hover {
    color: #355E3B;
    background-color: transparent;
}

.navbarLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;


}

#name {
    font-family: Baskerville;
    font-weight: lighter;
    font-size: 2rem;
    color: #097969;
    font-style: italic;


}

.hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;*/
    color: #023020;
    background-image: url("../img/laura-adai.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem;
    opacity: 0.3;
    margin-bottom: 3rem;
}

h1 {
    color: #355E3B;
    font-weight: lighter;
    padding: 5rem;
    margin: 0;
    font-size: 4rem;
    text-align: center;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-content: center;*/
}

h2 {
    color: #355E3B;
    font-weight: lighter;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

h3 {
    color: #023020;
    font-family: Baskerville;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    font-weight: lighter;

}
#aboutMeId {
    padding: 3rem;
}
/*.aboutMeHead {*/
/*    margin-top: 5rem;*/
/*}*/

.aboutMe p {
    font-family: "ui-sans-serif", sans-serif;
    color: #38220f;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    /*align-items: center;*/
    /*justify-content: center;*/
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 20rem;
    font-size: 1.25rem;
    text-align: center;

}

.projectsBackground {
    background-image: url("../img/olga-thelavart-vS3idIiYxX0-unsplash copy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-size: 100rem;*/

}
/*.projects {*/
/*    margin-bottom: 1rem;*/
/*}*/

#projectsId {
    padding: 1rem;
}

.projectImage {
    margin-left: 1.2rem;
    width: 15rem;

    border-radius: 15px;
}

.trickyRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 1rem 5rem 1rem;
}

.trickyRow button {
    background-color: transparent;
    margin: 0.25rem;
    border-radius: 15px;
    border-color: rgb(219,193,172, 60%);
    border-width: 2px;
    color: #38220f;
    font-family: sans-serif;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.trickyRow button:hover {
    background-color: #097969;
    border-radius: 15px;
    border-color: #097969;
    color: #ffffff;
    font-family: sans-serif;
}

.projectCacti {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-left: 6rem;*/

}

.projectFlow {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-right: 6rem;*/
    justify-content: center;
}

.projectKew {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-left: 6rem;*/

}

.projectPink {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-right: 6rem;*/
}

.email {
    display: flex;
    flex-direction: column;
}

footer {
    text-decoration: none;
    color: #023020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-family: "ui-sans-serif", sans-serif;
    font-weight: bold;

}

footer a {
    text-decoration: none;
    color: #023020;
}

footer a:hover {
    color: #355E3B;
    background-color: transparent;
}

.contactText {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 1rem;
    text-align: center;

}

.email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: #023020;

}

.email:hover {
    font-weight: bold;
    font-size: 1.75rem;
}

.contactSection {
    /*margin-top: 10rem;*/

}

#contact {
    font-size: 6rem;
    padding-top: 10rem;
    padding-bottom: 0;
    text-align: center;
    padding-left: 2.5rem;
    text-decoration: none;
}

.footerBackground {
    /*padding-top: 1rem;*/
    background-color: #8A9A5B;;
}

footer {
    padding-bottom: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;

}

@media screen and (min-width: 800px) {

    .navbarLinks {
        display: flex;
        flex-direction: row;

    }

    #contact {
        font-size: 8rem;
        padding-top: 10rem;
        text-align: center;
    }

    h1 {
        color: #355E3B;
        font-weight: lighter;
        padding: 5rem;
        margin: 0;
        font-size: 6rem;
        text-align: center;
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-content: center;*/
    }

    #upArrow {
        position: fixed;
        bottom: 0;
        right: 0;
        color: #38220f;
        width: 3rem;
        height: 3rem;
        font-size: 30pt;
        padding-bottom: 1rem;
    }
}

